<configuration>

    <!--
    value - где будут сохраняться логи. Если указать просто <<logs/app.log>>, то сохранятся в папке с tomcat -> bin
    -->
    <property name="HOME_LOG" value="C:/logs/app.log"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- app.2024-07-20.0.log -->
            <fileNamePattern>C:/logs/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- Максимальный размер каждого файла с логами - 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- Общий размер хранимых старых файлов, если превысит > 5GB, программа удалит старые файлы -->
            <totalSizeCap>5GB</totalSizeCap>
            <!-- Количество дней хранения логов -->
            <maxHistory>20</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p -- %m%n</pattern> <!-- %d %p %c{1.} [%t] %m%n -->
        </encoder>
    </appender>

    <logger name="ru.grebennik.shares_analytics" level="debug" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <root level="error">
        <appender-ref ref="FILE-ROLLING"/>
    </root>

</configuration>